<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>niubi-job-console</display-name>

    <welcome-file-list>
        <welcome-file>/jsp/dashboard_index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error_403.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error_404.html</location>
    </error-page>

    <error-page>
        <error-code>405</error-code>
        <location>/jsp/error_405.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error_500.html</location>
    </error-page>

</web-app>
