*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
target/
.idea/
conf/
bin/
logs/
derby-job/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.log
*.tar.gz
*.zip
*.MF

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dependency-reduced-pom.xml

# eclipse IDE
.settings/
.project
.classpath

# exclude file
!niubi-job-framework/niubi-job-service/src/test/resources/niubi-job-sample-spring.jar
