<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:job="http://www.zuoxiaolong.com/schema/niubi-job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.zuoxiaolong.com/schema/niubi-job
       http://www.zuoxiaolong.com/schema/niubi-job/niubi-job-1.0.xsd">

    <!-- 你自己的一些spring配置 -->
    <context:annotation-config/>

    <context:component-scan base-package="com.zuoxiaolong.niubi.job.sample.spring"/>

    <!-- 以下这一行用于开启niubi-job的驱动,可以用于本地测试任务 -->
    <!-- packagesToScan属性指定了需要扫描那些包寻找任务 -->
    <job:job-driven packagesToScan="com.zuoxiaolong.niubi.job.sample.spring"/>

</beans>

